* {
  color: purple;
}

div {
  color: rgb(179, 92, 92);
}

.alert-text {
  color: red;
}

#title {
    background-color: rgb(54, 19, 19);
}

/* like classes in java */
.read,
.unread {
  color: white;
  background-color: black;
}

.read {
  /* several unique declarations */
  margin: auto;
}

.unread {
  /* several unique declarations */
  margin: 100;
}

.subsection.header {
  color: red;
}

.subsection#preview {
  color: blue;
}